<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/ErrorStyles.css" />
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="#">
            <div class="d-block d-md-inline">SPORTS</div>
            <div class="d-block d-md-inline">STORE</div>
        </a>
        @Html.Action("Summary", "Cart")
    </div>
    <div class="d-block d-md-none">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
