@model SportsStore.Domain.Entities.Product

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>
            <strong>@Model.Name</strong>
            <span class="float-right badge badge-primary">@Model.Price.ToString("c")</span>
        </h3>

        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="float-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }

        <span class="lead">@Model.Description</span>
    </div>
</div>
