@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-light p-3">
    <h3>Edit @Model.Name</h3>
</div>

@using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post, 
        new { enctype = "multipart/form-data" })) {

    <div class="p-3">
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Category)
            @Html.TextBoxFor(x => x.Category, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Category, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @* See https://getbootstrap.com/docs/4.0/components/input-group/#custom-file-input *@
            <label for="Image">Image</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="Image" name="Image"
                           onchange="$('#ImageLabel').html($(this).val() || 'Choose File...');">
                    <label id="ImageLabel" class="custom-file-label" for="Image">Choose File...</label>
                </div>
            </div>

            @*<div>
                <label style="position:relative;cursor:pointer;">
                    <span class="font-weight-bolder">Image</span>
                    <span class="btn btn-primary btn-sm">Choose File...</span>
                    <input type="file" name="Image" size="40"
                           style="position:absolute;z-index:2;top:0;
                                  left:0;filter: alpha(opacity=0); opacity:0;
                                  background-color:transparent;color:transparent;"
                           onchange="$('#upload-file-info').html($(this).val());">
                </label>
                <span class="badge badge-pill badge-secondary" id="upload-file-info"></span>
            </div>*@
            
            @if (Model.ImageData == null) {
                <div class="form-control-static">No Image</div>
            } else {
                <img class="img-thumbnail" width="150" height="150"
                     src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
            }
        </div>
    </div>

    <div class="bg-light p-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel and return to List", "Index", null, 
            new { @class = "btn btn-secondary" })
    </div>
}
